@charset "UTF-8";

body {
	background-color : rgb(243, 143, 243);
	background-image: url('Background_Image.jpg');
	background-repeat:no-repeat;
	background-size: cover;
}



header {
	text-align: center;
	font-family: cursive;
	margin: auto;
    margin-bottom: 20px;
	width: 600px;
	height: 1000px;
	border:thick;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 1, 0.5);
    align-items: center;
}

.containers  {
	
	font-size: 20px;
	font-family: cursive;
	
	margin: auto;
	width: 500px;
	border:thick;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 1, 0.5);
    background-color: white;
    text-align: center;
    align-items: center;
    
    background-image: url("Mid_Image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.labels {
	font-size: 20px;
	font-family: cursive;
}


input {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 60%;
    padding: 12px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
   
}

a:hover {
    color: #0056b3;
}

